<div class=" alert-warning fade show mymsg" role="alert" *ngIf="alertMessageStatus" style="margin-bottom:0px;">
  <span> {{alertMessage}} </span>
  <button type="button" class="close" data-dismiss="alert" (click)="messageAreaShowToggle($event)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="container-navbar" style="width:100%">
  <nav class="navbar navbar-expand-md bg-cute">
    <a class="navbar-brand" routerLinkActive="active" routerLink=""> Home </a>
    <button class="navbar-toggler " (click)='mobileResponsiveNavBar($event, fullmenu)' type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" #fullmenu>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/pages/exam-syllabus">Exam Syllabus

            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/test/practice-test">Practice Tests
            <span class="sr-only">(current)</span>
          </a>
        </li>



        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="">Latest News
            <span class="sr-only">(current)</span>
          </a>
        </li>



        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink=""> Discussion Forum
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->


      <span class="navbar-text ">
        <ul class="navbar-nav mr-auto" ng-controller="loginController">
          <!-- <li class="nav-item active" *ngIf="!logedStatus">
            <a class="nav-link" routerLinkActive="active" routerLink="login">
              <span *ngIf="loginStatus">Hi, {{loginASUserName}} {{logedStatus}} {{alertMessage}} {{alertMessageStatus }} </span>
            </a>
          </li> -->


          <li class="nav-item active" *ngIf="!logedStatus">
            <a class="nav-link" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/register">Register
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item active" *ngIf="!logedStatus">
            <a class="nav-link" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/login">Login
              <span class="sr-only">(current)</span>
            </a>
          </li>





          <li class="nav-item active" *ngIf="logedStatus">
            <a class="nav-link" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/members">Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item active dropdown" dropdown *ngIf="logedStatus">
            <a class="nav-link dropdown-toggle" dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/images/user.png" class="profile-image img-circle"> hello, {{ loggedUserName}}
            </a>
            <div class="dropdown-menu make-right" *dropdownMenu aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/members/profile">Profile</a>
              <a class="dropdown-item" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/members/photo">Update Photo</a>
              <!-- <a class="dropdown-item" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/institute/director">Director's Message</a> -->
              <a class="dropdown-item" routerLinkActive="active" (click)='closeNavMenu($event, fullmenu)' routerLink="/logout">Log Out</a>
            </div>
          </li>
        </ul>
      </span>



    </div>
  </nav>

</div>
