.bg-cute {
  background-color: #fff;
  box-shadow: 0px 5px 3px rgb(167, 165, 165);
  /* font-weight: bold; */
}

.mymsg {
  /* background-image: url('/assets/images/nav-back.png'); */
  background-position: center;
  color: black;
  font-weight: bold;
  background-size: 100%;
}

.container-navbar{
  margin-top: 0px;
  border-top: 5px solid blue;
  padding-bottom: 0px;
}

.alert-warning {
  background-color: rgb(62, 236, 141);
  /* background-color: #007791; */
  /* color: white; */
  padding: 20px;
  text-align: center;
}
.close{
  color: white;
}

.navbar li>a {
  position: relative;
  color: #313844;
}
.navbar li>a:hover {
  /* background-color: rgb(228, 238, 250); */

  background-color: blue;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 3px rgb(167, 165, 165);

}



/* .navbar li>a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(231, 29, 29, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.navbar li>a:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
  border: 1px solid black;
} */

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

body {
    background-color: #f1f1f1;
    min-height: 75rem;
    padding-top: 4.5rem;
  }




/*
*
*
*/

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}

.hvr-shutter-out-horizontal:active,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:hover {
  color: #fff
}

.hvr-shutter-out-horizontal:active:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}


.make-right {
  left:auto !important;
  right:0px !important;
  margin-right:10px !important;
}

.profile-image {
  width: 18px;
  height: 18px;
}
