<div class="col-12" style="float:left;background-color: #f1f1f1; text-align: center; padding: 10px;">
  <div class="col-sm-12 col-md-3 col-xl-3" style="float:left;">
    <b>OTS</b>
    <br>
    <img src="assets/images/logo.png" alt="">
  </div>
  <div class="col-sm-12 col-md-3 col-xl-3" style="float:left;">
    <p>About Us</p>
    <p>Discussion Forum</p>
    <p>Blogs</p>
  </div>
  <div class="col-sm-12 col-md-3 col-xl-3" style="float:left;">
    <p>Supports</p>
    <p>Contact Us</p>
    <p>Terms</p>
  </div>
</div>
