<div class="container">
  <div class="row justify-content-md-center">
    <div class="box col-sm-10 col-md-6 col-xl-6">
      <h1>Enter Your Email ID</h1>
      <hr>
      <form #resetForm='ngForm'>
        <div class="form-group">
          <label for="">Email</label>
          <input class="form-control" ngModel name="email" id="email" type="email">
        </div>

        <button *ngIf="showbutton" (click)="verifyUser(resetForm)" class="btn btn-primary">Reset Password</button>

      </form>
      <br/>


        <span *ngIf="showvalidating">
          <h1 class="text-red"> {{showvalidatingmsg}} </h1>
        </span>

        <span *ngIf="statusdata?.length > 0">
          <h1 class="text-red"> <strong> {{statusdata | uppercase}} </strong></h1>
        </span>



    </div>
  </div>
</div>
