<div class="container">

  <div class="row">

    <div class="col-sm-12 col-md-12 col-xl-12" style="position:absolute; width:75%; height:100%; overflow:hidden;">
      <app-loader [status]="loadingbarChild"></app-loader>
    </div>

    <div class="col-sm-12 col-md-12 col-xl-12">
      <div class="card col-md-10 col-xl-10 col-sm-12" *ngFor="let pgcatdata of pagesubcategorydata">
        <div class="card-body">
          <h4 class="card-title"> {{ pgcatdata?.title }}</h4>
          <hr>
          <p class="card-text">
            <i class="fa fa-file-text" aria-hidden="true"></i> {{ pgcatdata?.description }} </p>
          <a routerLink="{{pgcatdata?.url}}" class="btn btn-primary">Show Details
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
