<!-- <div style="width:100%; height:250px; background-color:blue;">
  <img src="assets/images/user.png" class="img-circle" alt="Cinque Terre" width="150px" height="150px" style="float:right; margin-right:50px;">
</div> -->

<div class="profile-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-xl-2">
        <img src="assets/images/user.png" class="img-circle profile-image" alt="Profile Image">
      </div>
      <div class="col-sm-12 col-md-10 col-xl-10">
        <div class="head-content">
          <h1 class="profile-title"> {{ username | uppercase}}</h1>
          <h2 class="profile-description">Description About You Not Avaliable</h2>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- body starts here ****  -->
<div class="container profile-body">



  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- <li class="nav-item">
      <a class="nav-link active" id="viewstab" data-toggle="tab" (click)="switchtab(0)" role="tab" aria-controls="Skills" aria-selected="true">View</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" id="attemptedTab" data-toggle="tab" (click)="switchtab(1)" role="tab" aria-controls="Skills" aria-selected="true">Attempted Test List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="avaliableTab" data-toggle="tab" (click)="switchtab(2)" role="tab" aria-controls="Education" aria-selected="false">Recommended Test List</a>
    </li>
  </ul>

  <!-- Tabs Content ***** -->

  <div class="tab-content" id="myTabContent">


    <div class="tab-pane fade show active" *ngIf="showTestAttemptedList">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;" *ngFor="let d of attempteddata">
            <div class="post-module">
              <div class="thumbnail">
                <div class="date">
                  <div class="day">{{d?.test_test | date: 'dd/MM/yyyy'}}</div>
                </div>
                <img src="assets/images/test.jpg" />
              </div>
              <div class="post-content">
                <div class="category">Attempted</div>
                  <h1 class="title">{{d?.title}}</h1>

                <div class="post-meta">
                  <a [routerLink]="['/test/result']" [queryParams]="{ testkey: d?.id, testname: d?.title}">
                    <button class="btn btn-success">See Your Report</button>
                  </a>
                  <br/>
                  <span class="comments">
                    <i class="fa fa-comments"></i>
                    Attempts : Unlimited
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade show active" *ngIf="showTestAvaliableList">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;" *ngFor="let d of avaliabledata">
            <div class="post-module">
              <div class="thumbnail">
                <div class="date">
                  <div class="day">{{d?.test_test | date: 'dd/MM/yyyy'}}</div>
                </div>
                <img src="assets/images/test.jpg" />
              </div>
              <div class="post-content">
                <div class="category">Avaliable</div>
                <h1 class="title">{{d?.title}}</h1>
                <div class="post-meta">
                  <a routerLink='/test/{{d?.categoryurl}}/{{d?.subcategoryurl}}/{{d?.testurl}}'>
                    <button class="btn btn-success">Start Test</button>
                  </a>
                  <span class="comments">
                    <i class="fa fa-comments"></i>
                    Attempts : Unlimited
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <!-- Tabs Content ####  -->




</div>
<!-- body ends ### -->
