/*
*----------------------------------------------
*       SMALLER DEVICES
*----------------------------------------------
*/

@media only screen and (max-width: 500px) {
  .profile-header {
    text-align: center;
    width: 100%;
    min-height: 180px;
    background-color: rgb(74, 59, 209);
  }
  .profile-image {
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(197, 172, 172);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
  }
  .head-content {
    margin-top: 10px;
  }
  .profile-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .profile-description {
    font-size: 15px;
    color: white;
  }
  .profile-body {
    margin-top: 10px;
  }
  .tab-content {
    min-height: 600px;
  }
}

@media only screen and (min-width: 500px) {
  .profile-header {
    width: 100%;
    min-height: 200px;
    background-color: rgb(74, 59, 209);
  }
  .profile-image {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border: 10px solid rgb(197, 172, 172);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
  }
  .head-content {
    margin-top: 50px;
  }
  .profile-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .profile-description {
    font-size: 20px;
    color: white;
  }
  .profile-body {
    margin-top: 15px;
  }
  .tab-content {
    min-height: 600px;
  }
}




/* ********* CARDS ***********/
/* CSS for the top tests */

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 250px;
  height: 300px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}

.post-module .thumbnail {
  background: #000000;
  height: 200px;
  overflow: hidden;
}

.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-module .thumbnail .date .day {
  font-size: 16px;
}

.post-module .thumbnail .date {
  font-size: 12px;
  text-transform: uppercase;
}

.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 10px;
  min-height: 120px;
  height: auto;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .category {
  position: absolute;
  top: -40px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}

.post-module .post-content .post-meta {
  margin: 10px 0 0;
  color: #999999;
  text-align: center;
}


/* CSS for top test ends here */


/* ............ cards ...........*/


.btn {
  width: 80%;
}
