<!-- <script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
 -->

<!--
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">123</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Attempted</div>
          <h1 class="title">Test 1 of Course Abcd abcd abcd</h1>
          <div class="post-meta">
            <span class="comments">
              <i class="fa fa-comments"></i>
              Attempts : Unlimited
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">123</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Attempted</div>
          <h1 class="title">Test 1 of Course Abcd abcd abcd</h1>
          <div class="post-meta">
            <span class="comments">
              <i class="fa fa-comments"></i>
              Attempts : Unlimited
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">123</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Attempted</div>
          <h1 class="title">Test 1 of Course Abcd abcd abcd</h1>
          <div class="post-meta">
            <span class="comments">
              <i class="fa fa-comments"></i>
              Attempts : Unlimited
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">123</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Attempted</div>
          <h1 class="title">Test 1 of Course Abcd abcd abcd</h1>
          <div class="post-meta">
            <span class="comments">
              <i class="fa fa-comments"></i>
              Attempts : Unlimited
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">123</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Attempted</div>
          <h1 class="title">Test 1 of Course Abcd abcd abcd</h1>
          <div class="post-meta">
            <span class="comments">
              <i class="fa fa-comments"></i>
              Attempts : Unlimited
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">123</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Attempted</div>
          <h1 class="title">Test 1 of Course Abcd abcd abcd</h1>
          <div class="post-meta">
            <span class="comments">
              <i class="fa fa-comments"></i>
              Attempts : Unlimited
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-xl-3" style="margin-top:25px;">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">123</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Attempted</div>
          <h1 class="title">Test 1 of Course Abcd abcd abcd</h1>
          <div class="post-meta">
            <span class="comments">
              <i class="fa fa-comments"></i>
              Attempts : Unlimited
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--

<script src="path/to/chartjs/dist/Chart.js"></script>

<div class="container">


<canvas id="myChart" width="400" height="400"></canvas>


<canvas id="myChart" width="400" height="400"></canvas>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>


</div> -->




<!--
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="http://placehold.it/18x18" class="profile-image img-circle"> Username
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="#">
        <i class="fa fa-cog"></i> Account</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#">
        <i class="fa fa-sign-out"></i> Sign-out</a>
    </li>
  </ul>
</li> -->


<div class="header1">
  <img src="/assets/images/medal.png" alt="medal" class="header1-image">
  <br/>
  <h1>Congrats, {{username | uppercase }}</h1>
  <br/>
  <h2>You have Scored {{testscore}} out of {{maxtestscore}} in {{testtitle | uppercase}}</h2>
</div>

<div class="col-sm-12 col-md-12 col-xl-12" style="position:absolute; width:75%; height:100%; overflow:hidden;">
  <app-loader [status]="loadingbarChild"></app-loader>
</div>


<br/>
<h1 style="padding-top:15px; text-align:center;">Question Wise Report</h1>
<br/>

<div class="alert alert-danger" role="alert" *ngIf="failmessage">
  {{failmessage}}
</div>


<div class="report">
  <div class="row"  *ngFor="let d of quereport; let i=index">

    <div class="col-sm-12 col-md-2 col-xl-2"></div>

    <div class="col-sm-12 col-md-8 col-xl-8 box1">
      <strong> Question
        <span class="question_number margin-r-5">{{ i + 1 }}</span>

        <span *ngIf="ConvertBoolean(d.is_correct)" class="text-green"> You Correctly Solved this Question.</span>
        <span *ngIf="!ConvertBoolean(d.is_correct)" class="text-red"> You got this Question Wrong or Not Attempted.</span>

      </strong>

      <div class="question_text">
        <p>
          <span style="text-align: justify;"  [innerHTML]="d?.question" ></span>
        </p>
        <p></p>


        <br>
        <p></p>
      </div>


      <table class=" question_option_table table no-border thin_row">

        <tbody>
          <tr>
            <td class="correctness-indicator"> </td>
            <td class="correctness-indicator"> </td>

            <td class="q_tbl_optn_col_2"> <strong>A.</strong> </td>
            <td class="q_tbl_optn_col_3 option_text">
              <p>
                <span style="text-align: justify;"  [innerHTML]="d?.opt1"> </span>
                <br>
              </p>
            </td>
          </tr>

          <tr>
            <td class="correctness-indicator"> </td>
            <td class="correctness-indicator"> </td>

            <td class="q_tbl_optn_col_2"> <strong>B.</strong> </td>
            <td class="q_tbl_optn_col_3 option_text">
              <p>
                <span style="text-align: justify;"  [innerHTML]="d?.opt2"> </span>
                <br>
              </p>
            </td>
          </tr>

          <tr>
            <td class="correctness-indicator"> </td>
            <td class="correctness-indicator"> </td>

            <td class="q_tbl_optn_col_2"> <strong>C.</strong> </td>
            <td class="q_tbl_optn_col_3 option_text">
              <p>
                <span style="text-align: justify;"  [innerHTML]="d?.opt3"> </span>
                <br>
              </p>
            </td>
          </tr>

          <tr>
            <td class="correctness-indicator">
              <!-- <i class="fa fa-check-square text-gray-dark" title="" data-original-title="You selected this option."></i> -->
            </td>
            <td class="correctness-indicator">
              <!-- <i class="fa fa-check-circle text-green" title="" data-original-title="This is the correct option"></i> -->
            </td>
            <td class="q_tbl_optn_col_2">
              <strong>D.</strong>
            </td>
            <td class="q_tbl_optn_col_3 option_text">
              <p>
                <span style="text-align: justify;"  [innerHTML]="d?.opt4"> </span>
                <br>
              </p>
            </td>
          </tr>

        </tbody>
      </table>

      <strong class="text-green"> Correct Option for this question : {{d?.correct_opt}} </strong> <br>
      <strong class="text-yellow" *ngIf="ConvertBoolean(d.user_answer)"> You have Marked Option : {{d?.user_answer}} </strong>
      <strong class="text-purple" *ngIf="!ConvertBoolean(d?.user_answer)"> You have not Marked any option in this Question </strong>

      <br/>
      <strong> Explanation : </strong>
      <div class="explanation_text">
        <span style="text-align: justify;" [innerHTML]="d?.solution"> </span>
      </div>

    </div>


    <div class="col-sm-12 col-md-2 col-xl-2"></div>

  </div>
</div>
