


<div class="container">

  <div class="form-signin">
    <div class="ad-alert-box">

      <div class="alert alert-warning" role="alert" *ngIf="userPassword.touched && !userPassword.valid">
        Please Input minimum 8 digit password, {{ userPassword.errors.minlength?.requiredLength - userPassword.errors.minlength?.actualLength
        }} is more required
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="loginemail?.touched && !loginemail?.valid">
        Dude! enter the valid email id.
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="failmessage">
        {{failmessage}}
      </div>
    </div>



    <div class="form-body">
      <form #loginForm='ngForm' (ngSubmit)='submitLogin(loginForm)'>
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" class="form-control"  required pattern="[^ @]*@[^ @]*" placeholder="A valid email ID" aria-label="loginemail" ngModel name="loginemail"
          #loginemail="ngModel" id="loginemail">

        <label for="userPassword" class="sr-only"> Password </label>
        <input type="password" class="form-control mr-sm-2" minlength="8" maxlength="50" placeholder="Password" required ngModel
          name="userPassword" #userPassword="ngModel" id="userPassword" class="form-control" />


        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">
          Log in
        </button>
      </form>
    </div>
    <hr>
    <div style="text-align:center;">
      <p class="ad-center"> --OR-- </p>
    </div>
    <hr>
    <a routerLink="/activity/passwordresetrequest"> Forget Password </a>

    <hr>
    <a *ngIf="redirectedfrom" [routerLink]="['/register']" [queryParams]="{ redirectedfrom: redirectedfrom }">
       Don't have Account, Create One
    </a>
    <a *ngIf="!redirectedfrom" routerLink="/register"> Don't have Account, Create One </a>

  </div>
</div>


<!-- <div class="main-block">

<div class="container">
  <div class="ad-alert-box">
    <div class="alert alert-warning" role="alert" *ngIf="userPassword.touched && !userPassword.valid">
      Please Input minimum 8 digit password, {{ userPassword?.errors.minlength.requiredLength - userPassword?.errors.minlength.actualLength
      }} is more required
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="failmessage">
      {{failmessage}}
    </div>
  </div> -->








  <!-- <form class="form-signin" #loginForm='ngForm' (ngSubmit)='submitLogin(loginForm)'>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="loginemail" ngModel #loginemail="ngModel" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" minlength="8" maxlength="50" name="userPassword" ngModel #userPassword="ngModel" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">Sign in</button>
  </form>

</div>
<!-- /container -->



<!-- <button (click)="showToast()">Show Snackbar</button> -->

<!-- The actual snackbar -->
<div id="snackbar">Please wait while we authorize you..</div>
