




/*
*----------------------------------------------
*       SMALLER DEVICES
*----------------------------------------------
*/
@media only screen and (max-width: 500px) {
  .profile-header {
    text-align: center;
    width: 100%;
    min-height: 180px;
    background-color: rgb(74, 59, 209);
  }
  .profile-image {
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(197, 172, 172);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
  }
  .head-content {
    margin-top: 10px;
  }
  .profile-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .profile-description {
    font-size: 15px;
    color: white;
  }
  .profile-body {
    margin-top: 10px;
  }
  .tab-content {
    min-height: 600px;
  }

}

@media only screen and (min-width: 500px) {
  .profile-header {
    width: 100%;
    min-height: 200px;
    background-color: rgb(74, 59, 209);
  }

  .profile-image {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border: 10px solid rgb(197, 172, 172);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
  }

  .head-content {
    margin-top: 50px;
  }

  .profile-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  .profile-description {
    font-size: 20px;
    color: white;
  }

  .profile-body {
    margin-top: 15px;
  }

  .tab-content {
    min-height: 600px;
  }


}



