<!-- <div style="width:100%; height:250px; background-color:blue;">
  <img src="assets/images/user.png" class="img-circle" alt="Cinque Terre" width="150px" height="150px" style="float:right; margin-right:50px;">
</div> -->

<div class="profile-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-xl-2">
        <img src="assets/images/user.png" class="img-circle profile-image" alt="Profile Image">
      </div>
      <div class="col-sm-12 col-md-10 col-xl-10">
        <div class="head-content">
          <h1 class="profile-title">{{username | uppercase}}</h1>
          <h2 class="profile-description">Not Yet Avaliable</h2>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- body starts here ****  -->
<div class="container profile-body">



  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- <li class="nav-item">
      <a class="nav-link active" id="viewstab" data-toggle="tab" (click)="switchtab(0)" role="tab" aria-controls="Skills" aria-selected="true">View</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" id="skillstab" data-toggle="tab" (click)="switchtab(1)" role="tab" aria-controls="Skills" aria-selected="true">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="educationtab" data-toggle="tab" (click)="switchtab(2)" role="tab" aria-controls="Education" aria-selected="false">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="personaltab" data-toggle="tab" (click)="switchtab(3)" role="tab" aria-controls="Personal" aria-selected="false">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="interesttab" data-toggle="tab" (click)="switchtab(4)" role="tab" aria-controls="Interest" aria-selected="false">Interest</a>
    </li>
  </ul>

  <!-- Tabs Content ***** -->

  <div class="tab-content" id="myTabContent">


    <div class="tab-pane fade show active" *ngIf="showSkillForm">

      <table class="table table-hover table-responsive table-bordered table-dark">
        <thead>
          <!-- <td>skills</td> -->
        </thead>
        <tbody>
          <tr *ngFor="let q of skilldata">
            <td>Skills :</td>
            <td>{{q?.skill}}</td>
          </tr>
        </tbody>
      </table>
      <hr>

      <p style="font-weight:bold;">Add New Skill</p>
      <form #skillForm='ngForm' >
        <div class="form-group">
          <label for="">Skills</label>
          <input class="form-control" ngModel name="skill" id="skill" type="text">
        </div>

        <button (click)="skillFormSubmit(skillForm)" class="btn btn-primary">Submit</button>

      </form>
    </div>


    <div class="tab-pane fade show active" *ngIf="showEducationForm">

      <table class="table table-hover table-responsive table-bordered table-dark">
        <thead>
          <td> institute Name </td>
          <td> degree </td>
          <td> started </td>
          <td> finished </td>
          <td> field of study </td>
          <td> percentage </td>
        </thead>
        <tbody>
          <tr *ngFor="let val1 of educationdata">
            <td> {{val1.institute}} </td>
            <td> {{val1.degree}} </td>
            <td> {{val1.started}} </td>
            <td> {{val1.finished}} </td>
            <td> {{val1.field}} </td>
            <td> {{val1.percentage}} </td>
          </tr>
        </tbody>
      </table>
      <hr>

      <p style="font-weight:bold;">Add New Education Details :</p>
      <form #educationForm='ngForm'>

          <div class="form-group">
            <label for="institute">Institute Name</label>
            <input type="text" class="form-control" ngModel name="institute" id="institute" placeholder="Institute Name">
          </div>

          <div class="form-group">
            <label for="degree">Degree</label>
            <input type="text" class="form-control"  ngModel name="degree" id="degree" placeholder="Degree">
          </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-6 col-sm-12">
            <label for="started">Date Attended From</label>
            <input type="date" class="form-control" ngModel name="started" id="started">
          </div>
          <div class="form-group  col-md-6 col-xl-6 col-sm-12">
            <label for="finished">Date Attended To</label>
            <input type="date" class="form-control" ngModel name="finished" id="finished">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="field">Field of Study</label>
            <input type="text" class="form-control" ngModel name="field" id="field">
          </div>
          <div class="form-group col-md-6">
            <label for="percentage">Percentage</label>
            <input type="number" min="0" max="100" ngModel name="percentage" class="form-control" id="percentage">
          </div>
        </div>
        <button (click)="educationFormSubmit(educationForm)" class="btn btn-primary">Submit</button>
      </form>
    </div>


    <div class="tab-pane fade show active" *ngIf="showPersonalDetailForm">
      <!-- <p> Personal Details :</p> -->
      <table class="table table-hover table-responsive table-bordered table-dark">
        <thead>
          <td> Name </td>
          <td> guardian </td>
          <td> gender </td>
          <td> dob </td>
          <td> email </td>
          <td> phone </td>
        </thead>
        <tbody>
          <tr *ngFor="let val1 of personaldata">
            <td> {{val1.name}} </td>
            <td> {{val1.guardian}} </td>
            <td> {{val1.gender}} </td>
            <td> {{val1.dob}} </td>
            <td> {{val1.email}} </td>
            <td> {{val1.phone}} </td>
          </tr>
        </tbody>
      </table>
      <hr>

      <p style="font-weight:bold;"> Update your Personal Details :</p>
      <form #personalForm='ngForm'>

          <!-- <div class="form-group">
            <label for="">Name</label>
            <input class="form-control" ngModel name="names" id="names" type="text" disabled>
          </div> -->

          <div class="form-group">
            <label for="guardian">Gurdian Name</label>
            <input class="form-control" ngModel name="guardian" id="guardian" type="text">
          </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-xl-6 col-md-6">
            <label for="gender">Gender</label>
            <input class="form-control" ngModel name="gender" id="gender" type="text">
          </div>
          <div class="form-group col-sm-12 col-xl-6 col-md-6">
            <label for="dob">Date of Birth</label>
            <input ngModel name="dob" id="dob" class="form-control" type="date">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12 col-xl-6 col-md-6">
            <label for="">Email</label>
            <input class="form-control" ngModel name="skill" id="skills" type="text" disabled>
          </div>

          <div class="form-group col-sm-12 col-xl-6 col-md-6">
            <label for="phone">Phone</label>
            <input class="form-control" ngModel name="phone" id="phone" type="text">
          </div>
        </div>

        <button (click)="personalFormSubmit(personalForm)" class="btn btn-primary">Submit</button>

      </form>
    </div>





    <div class="tab-pane fade show active" *ngIf="showInterestForm">
      <!-- <p> Interest :</p> -->
      <table class="table table-hover table-responsive table-bordered table-dark">
        <thead>
          <td>Interests</td>
          <td>hobies</td>
        </thead>
        <tbody>
          <tr *ngFor="let q of interestdata">
            <td>{{q?.interest}}</td>
            <td>{{q?.hobbies}}</td>
          </tr>
        </tbody>
      </table>
      <hr>

      <p  style="font-weight:bold;">Insert New Interest Field :</p>
      <form #interestForm='ngForm'>

          <div class="form-group">
            <label for="interest">Interest</label>
            <input class="form-control" ngModel name="interest" id="interest" type="text">
          </div>

          <div class="form-group">
            <label for="hobbies">Hobbies</label>
            <input class="form-control" ngModel name="hobbies" id="hobbies" type="text">
          </div>

        <button (click)="interestFormSubmit(interestForm)" class="btn btn-primary">Submit</button>

      </form>
      </div>

    </div>

    <!-- Tabs Content ####  -->




  </div>
<!-- body ends ### -->




