<div class="container">
  <div class="row justify-content-md-center">
    <div class="box col-sm-10 col-md-6 col-xl-6">
      <form #resetForm='ngForm'>
        <div class="form-group">
          <label for="">Password</label>
          <input class="form-control" ngModel name="password1" id="password1" type="text">
        </div>
        <div class="form-group">
          <label for="">Confirm Password</label>
          <input class="form-control" ngModel name="password2" id="password2"
              placeholder="email id" type="text">
        </div>

        <button (click)="verifyUser(resetForm)" class="btn btn-primary">Reset Password</button>

      </form>
      <br/>


      <div *ngFor="let d of statusdata">
        <span *ngIf="statusdata?.length > 0">
          <h1 class="text-red"> {{d?.status | uppercase}} </h1>
        </span>
      </div>
      <span *ngIf="!(statusdata?.length > 0)">
        <h1> You will get email soon! </h1>
      </span>


    </div>
  </div>
</div>
