/*
#- -------------------------------------------------------------
#                FOR SMALLER DEVICES LIKE MOBILE
#---------------------------------------------------------------
*/

@media screen and (max-width: 480px) {
  body {
      background-color: #f1f1f1;
      min-height: 75rem;
      padding-top: 4.5rem;
  }
  .ad-space {
    padding-top: 50px;
  }
  .container-body {
    min-height: 75vh;
    padding-top: 20px;
  }

}



/*
#- -------------------------------------------------------------
#                FOR BIGGER DEVICES LIKE LAPTOP
#---------------------------------------------------------------
*/
@media screen and (min-width: 480px) {
  body {
      background-color : #f1f1f1;
      /* min-height: 25rem; */
      padding-top: 4.5rem;
  }
  .ad-space {
    padding-top: 40px;
  }
  .container-body {
    min-height: 85vh;
    padding-top: 40px;
  }

}
