

<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-xl-12" style="position:absolute; width:75%; height:100%; overflow:hidden;">
      <app-loader [status]="loadingbarChild"></app-loader>
    </div>

    <div class="col-md-4 col-xl-4 col-sm-12" *ngFor="let d of pagecat" style="margin-bottom:15px;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ d?.title }}</h4>
          <hr>
          <p class="card-text"> <i class="fa fa-file-text" aria-hidden="true"></i>   {{ d?.description }} </p>
          <a routerLink="{{d?.url}}" class="btn btn-primary">Show Details   <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div class="pagination">
  <a href="#">&laquo;</a>
  <span *ngFor="let n of pagescount">
  <a routerLink="/pages?page=2" > {{n}}</a>
  </span>
  <a href="#" class="active">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div> -->
