.container {
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
}

.box1 {
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
  min-height: 100px;
  padding: 15px;
  margin: 15px;
  background-color: #f1f1f1;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
}

h1 {
  font-size: 24px;
}
