<h1 class="title"> Activity </h1>
    <hr/>



<div class="container">
  <div class="row">
    <div class="box1 col-sm-12 col-md-3 col-xl-3">
      <a routerLink='passwordresetrequest'>
        <h1>Password Reset</h1>
      </a>
    </div>


    <div class="box1 col-sm-12 col-md-3 col-xl-3">
      <a routerLink='querry'>
        <h1>Querry</h1>
      </a>
    </div>


  </div>
</div>

