<div class="row" style="margin:50px; margin-top:0px;">
  <div class="style01">
    <!-- <p>Page Title Here</p> -->

    <div class="col-sm-12 col-md-12 col-xl-12" style="position:absolute; width:75%; height:100%; overflow:hidden;">
      <app-loader [status]="loadingbarChild"></app-loader>
    </div>

  <p *ngFor="let item of pagedisplaydata" >
    <span [innerHTML]='item.content'></span>
  </p>
  </div>
</div>
