<div class="" style="margin:15px;">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-xl-12" style="position:absolute; width:75%; height:100%; overflow:hidden;">
      <app-loader [status]="loadingbarChild"></app-loader>
    </div>


    <div class="col-md-12 col-xl-12 col-sm-12" *ngFor="let d of data" style="margin-bottom:15px;">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ d?.title }}</h4> <hr>
          <p class="card-text"><i class="fa fa-leanpub" aria-hidden="true"></i>  {{ d?.description }} </p>
          <a routerLink="{{d?.url}}" class="btn btn-primary">Show Details  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
