.mat-card {
  display: flex;
  flex-direction: row;
  height: $mat-card-header-size;
  margin: -8px 0 16px 0;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.ad-card {
  background-color: #F8F4F4;
  box-shadow: 5px 5px 5px #888888;
  margin-top: 25px;
  padding: 10px;
  padding-left: 20px;
}

.ad-bottomright {
  position: fixed;
  text-align: right;
  color: red;
  bottom: 8px;
  right: 16px;
  font-size: 24px;
  z-index: 1000;
}

.ad-table {
  width: 100%;
}

.ad-float-left {
  float: left;
  padding-bottom: 10px;
}

.ad-red {
  color: red;
}

.que-no {
  font-weight: bold;
  color: rgb(10, 110, 10);
}


/*
*Styling scrollbar
*/

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(70, 80, 124);
}


/*****/

.btn-circle {
  border-radius: 20px;
  margin: 2px;
}

#questions:hover {
  color: darkblue;
}


/* swipe menu */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-width: 480px) {
  /* The side navigation menu */
  .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(221, 210, 210);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #030303;
    display: block;
    transition: 0.3s
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover,
  .offcanvas a:focus {
    color: #b86262;
  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  .styleWrap {
    max-width: 80vh;
  }
}

.option-box1:hover {
  color: red;
}

.option-box2:hover {
  color: red;
}

.option-box3:hover {
  color: red;
}

.option-box4:hover {
  color: red;
}

.choosequeNo{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.chooseque {
  border-bottom: 1px solid rgb(78, 78, 62);
  margin-top: 10px;
}
.chooseque:hover {
  background-color: #888888;
}



/*  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  } */

.checkbox-text-wrap {
  white-space: normal;
}

.bmybutton {
  margin: 10px;
}

.cbuttonsON {
  border-radius: 20px;
  background-color: blanchedalmond;
  border-color: black;
}

.cbuttonsOFF {
  border-radius: 20px;
  background-color: green;
  border-color: black;
}
