<!-- <div class="ad-space"></div> -->

<div *ngIf="testinstructiondisplay" class="col-sm-12 col-md-12 col-xl-12" style="position:absolute; width:75%; height:100%; overflow:hidden;">
  <app-loader [status]="loadingbarChild"></app-loader>
</div>

<div class="container" *ngIf="testinstructiondisplay" style="margin-top:20px;">
  <div class="column">
    <h4>Instructions :</h4>
    <p>1 - Total number of question : {{maxquestions}} </p>
    <p>2 - Time Alloted : {{totalissuedtime/60}} minutes </p>
    <p>3 - Each question carry {{wrongscoremarks}} as a negative marks (for wrong attempt) </p>
    <p>4 - Each question carry {{correctscoremarks}} as a positive marks (for correct attempt) </p>
    <p>5 - Each question carry
      <b>Zero </b> marks (for unattempt question) </p>
    <p>6 - Do not Refresh the Page </p>
    <p>7 - If at any point of time you lost your internet connection, than don't panic just connect to internet
      <b> BUT Do not Refresh the Page </b>, your answer will be automatically submited when you click on SUBMIT TEST button and
      will be notified automatically </p>
  </div>

  <form #startTestForm='ngForm' (ngSubmit)="starttestform(startTestForm)">
    <button class="btn btn-success btn-block col-md-3 col-xl-3 col-sm-10" type="submit"> Start Now </button>
  </form>

</div>













<div class="alert alert-warning" role="alert" *ngIf="thankyoufortest">
  <h3>Your Test Time ends, be sure to calculate your Score... </h3>
</div>

<div class="alert alert-success" role="alert" *ngIf="finalsuccessmsg">
  <h3>Thank You ! We are submiting your Answers Now, Do not refresh Your Browser... </h3>
</div>










<div id="quizsection">
  <!-- question display starst here -->
  <form #quizTestForm='ngForm'>



    <div class="" id="quizblock" *ngIf="showquestionlist">

      <button class="btn btn-circle" name="abc" id="abc" style="margin:15px;" *ngIf="showSidequestionNav" #abc2 (click)="openNav()">Open Question List </button>

      <div class="row" style="margin:25px;">
        <div class="col-md-2 col-xl-2 col-sm-0" style="height:500px; overflow-y:scroll; max-width:8cm" id="style-2" class="sidenav">
          <!-- <div class="col-md-3 col-xl-3 col-sm-0" style="height:500px; overflow-y:scroll" id="style-2" id="style-2" class="sidenav"> -->
          <a class="closebtn" *ngIf="showSidequestionNav" (click)="closeNav()">&times;</a>
          <p (click)="switchNavQuestion()">Questions : </p>
          <br>
          <div *ngFor="let d of questionlist; let i=index" style="padding:5px;" class="chooseque">
            <div id="questions">

              <span (click)="displayQuestion($event, quizTestForm, i)" class="choosequeNo">
                <strong>Que [ {{i+1}} ]</strong>
                <input type="hidden" ngModel name="{{d?.id}}" value="0">
                <span class="example-question-button" [innerHTML]="d?.question | slice:0:70"></span> <span>...</span>
              </span>

            </div>
          </div>

        </div>


        <div class="col-md-7 col-xl-7 col-sm-12 styleWrap" style="height:500px; overflow-y:scroll;" id="style-2">
          <span class="que-no"> Question No. {{currentindexposition + 1}}</span>
          <br/>
          <span [innerHTML]="currentquestion"></span>

          <hr>
          <div *ngIf="!showquizfirstpage" style="display:block;">
            <br>

            <div class="option-box1" (click)="assignThevalueOnClick(quizTestForm, currentid, 1)">
              <button class="cbuttonsON" *ngIf="!checkedopt1">A</button>
              <button class="cbuttonsOFF" *ngIf="checkedopt1">A</button>
              <span [innerHTML]="currentopt1" class="checkbox-text-wrap"></span>
            </div>

            <br>
            <div class="option-box2" (click)="assignThevalueOnClick(quizTestForm, currentid, 2)">
              <button class="cbuttonsON" *ngIf="!checkedopt2">B</button>
              <button class="cbuttonsOFF" *ngIf="checkedopt2">B</button>
              <span [innerHTML]="currentopt2" class="checkbox-text-wrap"></span>
            </div>

            <br>
            <div class="option-box3" (click)="assignThevalueOnClick(quizTestForm, currentid, 3)">
              <button class="cbuttonsON" *ngIf="!checkedopt3">C</button>
              <button class="cbuttonsOFF" *ngIf="checkedopt3">C</button>
              <span [innerHTML]="currentopt3" class="checkbox-text-wrap"></span>
            </div>

            <br>
            <div class="option-box4" (click)="assignThevalueOnClick(quizTestForm, currentid, 4)">
              <button class="cbuttonsON" *ngIf="!checkedopt4">D</button>
              <button class="cbuttonsOFF" *ngIf="checkedopt4">D</button>
              <span [innerHTML]="currentopt4" class="checkbox-text-wrap"></span>
            </div>

            <br>

            <!-- <div class="row" *ngIf="questionlist?.length == currentindexposition"> hello </div>  -->

          </div>
          <div *ngIf="showquizfirstpage">
            <p>Click on the Question in the left panel to display...</p>
            <br> <h1> {{timeleft}} </h1>
          </div>
          <div style="position:relative; bottom:0px; left:20px;">
            <button class="btn btn-primary btn-sm bmybutton" *ngIf="!showquizfirstpage" (click)="clearMarkedOption($event, quizTestForm, currentindexposition)">Clear Response</button>
            <button class="btn btn-warning btn-sm bmybutton" *ngIf="!showquizfirstpage" (click)="markForReviewOption($event, quizTestForm, currentindexposition)">Mark for Review</button>
            <!-- </div>
        <div style="position:relative; bottom:0px; right:20px;"> -->
            <button class="btn btn-success btn-sm bmybutton" *ngIf="!showquizfirstpage && (questionlist?.length > currentindexposition)"
              (click)="saveAndNextOption($event, quizTestForm, currentindexposition)">Save and Next</button>
          </div>

        </div>
        <div class="col-md-2 col-xl-2 col-sm-0" style="height:500px; overflow-y:auto" id="style-2">
          <p>Submit Test & Evaluate Result</p>
          <button class="btn btn-primary btn-sm d-inline-block" (click)="submitTestForm(quizTestForm)">Finish/Submit Test</button>
          <p> Mode </p>
          <button class="btn btn-success btn-sm d-inline-block" (click)="fullScreen()"> Enter Full Screen</button>
          <!-- <p> Sections </p>
        <div>
          <button class="btn btn-success btn-sm d-inline-block" style="margin:4px;">Section 1</button>
          <button class="btn btn-success btn-sm d-inline-block" style="margin:4px;">Section 2</button>
          <button class="btn btn-success btn-sm d-inline-block" style="margin:4px;">Section 3</button>
        </div> -->

          <hr>
          <p>Question Number :</p>
          <div *ngFor="let d of questionlist; let i=index" style="display:inline">
            <button class="btn btn-circle" name="button{{i}}" id="button{{i}}" #abc2 (click)="questionNoClicked($event, quizTestForm, i)">
              {{i+1}} </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <button *ngIf="thankyoufortest" (click)="submitTestForm(quizTestForm)" class="btn btn-success btn-block" type="submit"> Click here to Calculate Your Score </button> -->
    <button (click)="submitTestForm(quizTestForm)" *ngIf="thankyoufortest" class="btn btn-success btn-block" type="submit"> Click here to Calculate Your Score </button>
  </form>
</div>
<!-- {{quizTestForm.value | json}} -->


<!-- question display ends here -->


<div class="ad-bottomright" *ngIf="showquestionlist">
  <h1 class="ad-bottomright" id="timmerbox" #timmerbox name="timmerbox"> Time Left : {{timeleft}} </h1>
</div>



<!--
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-10">
            <form  #quizTestForm='ngForm' (ngSubmit)='submitTestForm(quizTestForm)' >
                <div *ngIf="showquestionlist">
                    <div class="ad-card" *ngFor="let que of questionlist">

                      <div class="example-question-group">
                         <span  class="example-question-button" [innerHTML]="que?.question"></span> <br>
                      </div>



                        <mat-radio-group  class="example-radio-group"
                        ngModel name="{{que.id}}" >
                            <mat-radio-button  class="example-radio-button"
                                value="1">
                                <span [innerHTML]="que?.opt1"></span>
                            </mat-radio-button>

                            <mat-radio-button  class="example-radio-button"
                                value="2">
                                <span [innerHTML]="que?.opt2"></span>
                            </mat-radio-button>

                            <mat-radio-button  class="example-radio-button"
                                value="3">
                                <span [innerHTML]="que?.opt3"></span>
                            </mat-radio-button>

                            <mat-radio-button  class="example-radio-button"
                                value="4" >
                                <span [innerHTML]="que?.opt4"></span>
                            </mat-radio-button>
                        </mat-radio-group>

                      </div>
                        <br>

                </div>
                <button *ngIf="displaysubmitbtn" class="btn btn-success btn-block" type="submit"> Submit Test </button>
            </form>
            <p>{{quizTestForm.value | json }}</p>
        </div>
    </div>
</div> -->
