.box {
  text-align: center;
  border: 1px solid black;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 10px rgb(179, 141, 141);
  /* width: 300px; */
  /* height: auto; */
}

h1 {
  font-size: 20px;
}
.container {
  margin-top: 25px;
}

.text-red {
  color: rgb(143, 14, 14);
}
