<div class="container">
  <div class="row justify-content-md-center">
    <div class="box col-sm-10 col-md-6 col-xl-6">
      <h1>Your Requested Email ID</h1>
      <br>
      <h1>{{email}}</h1>
      <br/>
      <h1>is</h1>
      <br/>
      <div *ngFor="let d of statusdata">
        <span *ngIf="statusdata?.length > 0"><h1 class="text-red"> {{d?.status | uppercase}} </h1></span>
      </div>
        <span *ngIf="!(statusdata?.length > 0)">
          <h1> Not Verified </h1>
        </span>

      <br/>
      <!-- <h1 *ngIF="!statusdata"> Not Verified due to Wrong Code, Please Check Your Email again. </h1> <br/> -->
    </div>
  </div>
</div>
