.container {
  float: center;
  margin-top: 20px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width:250px;
  width:100%;
  height:auto;
  text-align: center;
  /* 5px rounded corners */
}


/* Add rounded corners to the top left and the top right corner of the image */

img {
  border-radius: 5px 5px 0 0;
}

.social-share {
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 45px;
  border-width: 5px;
  border-color: black;
  padding: 15px;
}

.share {
  width: auto;
  height: 50px;
}
