<div class="container col-12">
  <div class="col-md-1 col-xl-1" style="float:left;">

  </div>
  <div class="col-sm-12 col-xl-7 col-md-7" style="float:left;">

    <table class="table table-border table-responsive bg-success">
      <tr>
        <td>Name : </td>
        <td> {{ username | uppercase }} </td>
      </tr>
      <tr>
        <td>About : </td>
        <td>Not Yet Avaliable</td>
      </tr>
      <tr>
        <td>Account Status : </td>
        <td>Not-Verified</td>
      </tr>
      <tr>
        <td>Email ID : </td>
        <td>Not-Verified</td>
      </tr>
      <tr>
        <td>Referral Code : </td>
        <td>*</td>
      </tr>
    </table>

    <div class="social-share">
      <p>Share Referral Code On</p> <br>
      <img src="/assets/images/w2.png" class="share" alt="WhatsApp">
      <img src="/assets/images/fb.png" class="share"alt="Facebook">
      <img src="/assets/images/e2.jpg" class="share"alt="Email">
    </div>

  </div>

  <div class="col-sm-12 col-xl-3 col-md-3" style="float:left;">
    <div class="card">
      <img src="http://localhost:80/home/adesh/Documents/blog/public/images/img_avatar.png" alt="Avatar" style="width:100%">
      <div class="container">
        <label for="Upload Photo"> Choose
          <!-- <input type="file" name="avatar" ng2FileSelect [uploader]="uploader" /> -->
        </label>
        <div>
          <!-- Queue progress: -->
          <!-- <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div> -->
        </div>
        <!-- <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button> -->
      </div>
    </div>
  </div>
</div>
