.card {
  width: 100%;
  box-shadow: 5px 5px 5px 0px rgb(134, 126, 126);
  margin-bottom: 25px;
  display: inline-block;
}

.card-img-top {
  text-align: center;
}

.card-title {
  text-transform: uppercase;
}

.card-text {
  text-transform: lowercase;
}

