:root{
  --my-height: -40px;
}

.ad-notif-card {
    width: 100%;
    height: 70px;
    text-align: center;
}

.ad-title {
    color: white;
    font-size: 22px;
}

@media (max-width: 480px) {
    .marquee-box {
      min-height: 40px;
    }

    .card {
        width: 100%;
    }
    .ad-image{
        width: 100%;
        height: 150px;
        margin-top : -10px !important;

    }
    .ad-show14 {
      width: 100%;
      height: auto;
      padding: 15px;
      margin-top: 10px;
      text-align: center;
      background-color: rgb(8, 118, 245);
    }

    .notification-body {
      width: 100%;
      height: auto;
      padding-top: 25px;
      padding-bottom:25px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: rgb(73, 55, 238);
    }


    .notification-body-title {
      font-size: 13pt;
      font-weight: bold;
      color: wheat;
    }

    .notification-body-body {
      font-size: 10pt;
      font-weight: normal;
      color: wheat;
    }
    .test-cards {
      min-height: 250px;
    }
    .featured-box {
      visibility: hidden;
      height: 0px;
    }
    .subscribe-button{
      margin-top: 10px;
    }
    .ad-subscription {
      margin-top: 10px;
      border-top: 1px solid rgb(241, 190, 190);
      border-bottom: 1px solid rgb(241, 190, 190);
      padding: 20px;
      height: auto;
    }


  }


  @media (min-width: 480px) {
    .marquee-box {
      min-height: 65px;
    }

    .card {
        width: 20rem;
    }
    .ad-image{
        width: 100%;
        height: auto;
        margin-top: -20px !important;
    }
    .ad-show14 {
      width: 100%;
      height: auto;
      padding: 15px;
      margin-top: 10px;
      text-align: center;
      background-color: rgb(12, 117, 238);
    }

    .notification-body {
      width: 100%;
      height: auto;
      margin-top: 10px;
      padding-top: 25px;
      padding-bottom:25px;
      margin-bottom: 10px;
      /* background-color: rgb(73, 55, 238); */
      background: linear-gradient(to bottom, rgb(128, 120, 201) 0%, rgb(81, 66, 216) 100%) fixed;


    }


    .notification-body-title {
      font-size: 16pt;
      font-weight: bold;
      color: wheat;
    }
    .notification-body-body {
      font-size: 13pt;
      font-weight: normal;
      color: wheat;
    }
    .ad-subscription {
      margin-top: 20px;
      border-top: 1px solid rgb(241, 190, 190);
      border-bottom: 1px solid rgb(241, 190, 190);
      padding: 20px;
      height: auto;
    }
    .test-cards {
      min-height: 550px;
    }

    .list-group{
      min-height: 450px;
    }

    ul {
      color: #eee;
      font-size: 18px;
    }
    li {
      color: green;
      text-transform: lowercase;
    }
    ul li {
      line-height: 25px;
    }
    li::before{
      font-family: FontAwesome;
      content: "\f0a9  ";

    }
    li:hover{
      color: red;
    }
  }

/*
*----------------------------------------------
*               COLOR
*----------------------------------------------
*/

.ad-red{
    background-color: red;
    color: white;
}



.ad-color1 {
    color: rgb(133, 5, 5);
}




/* CSS for the top tests */
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 250px;
  height: 300px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}

.post-module .thumbnail {
  background: #000000;
  height: 200px;
  overflow: hidden;
}

.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-module .thumbnail .date .day {
  font-size: 16px;
}

.post-module .thumbnail .date {
  font-size: 12px;
  text-transform: uppercase;
}

.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 10px;
  min-height: 120px;
  height: auto;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .category {
  position: absolute;
  top: -40px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}

.post-module .post-content .post-meta {
  margin: 10px 0 0;
  color: #999999;
  text-align: center;
}

/* CSS for top test ends here */

.button1 {
  width: 80%;
}

.display1 {
  font-size: 20px;
}



/***************************************/
.feature-text{
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

#infowrapper {
  display: -webkit-box;
  overflow: auto;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  margin-top: 10px;
  padding-bottom: 30px;
}

.imagetext {
  text-align: center;
}

div.box {
  border-radius: 100px;
  border: 5px solid white;
  height: 200px;
  width: 200px;
  margin-right: 7px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
  position: relative;
  box-sizing:unset;

}

div.box img {
  border-radius: 100px;
}

div.box div {
  width: 200px;
  height: 105px;
  background: #000000;
  text-align: center;
  border-radius: 100px;
  padding: 95px 0 0 0;
  color: wheat;
}


div.effect4 img {
  position: absolute;
  top: 0;
  left: 0;
}

div.effect4 div {
  /* position: absolute; */
  opacity: 0.8;
  transform: scale(0);
  transition-duration: 500ms;
  color: wheat;
}

div.effect4:hover div {
  transform: scale(1);
  /* change value and see effects of zoom */
}

