<div class="ad-image">
  <img src="assets/images/banner.png" alt="Loding image..." class="ad-image">
</div>

<!-- <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> -->

<div class="container marquee-box">
  <div class="row">
    <marquee behavior="scroll" direction="left" scrollamount="8" vspace="10px" onmouseover="this.stop();" onmouseout="this.start();">
      <span *ngFor="let maqquevalue of marquee1Data">
        |
        <a routerLink="{{maqquevalue?.url}}">
          <b>{{maqquevalue?.title}}</b>
        </a> |
      </span>
    </marquee>


    <div style="position:absolute; width:80%; height:100%; overflow:hidden;">
      <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
    </div>



    <marquee behavior="scroll" direction="right" scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();">
      <span *ngFor="let maqquevalue of marquee2Data">
        |
        <a routerLink="{{maqquevalue?.url}}">
          <b>{{maqquevalue?.title}}</b>
        </a> |
      </span>
    </marquee>
  </div>
</div>




<div class="ad-show14">
  <p>Dear OpenTestSeries User, Type .com after OpenTestSeries and also its a FREE platfrom.</p>
</div>








<div class="container test-cards">
  <h1 style="font-size:20px; margin-top:15px;">Few Randomized Tests :
    <a routerLink='/test/practice-test'>
      <button class="btn btn-primary btn-small">View All</button>
    </a>
  </h1>
  <div class="row">
    <div style="position:absolute; width:80%; height:100%; overflow:hidden;">
      <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-xl-3" style="margin-top:25px;" *ngFor="let d of toptestdata">
      <div class="post-module">
        <div class="thumbnail">
          <div class="date">
            <div class="day">
              <div *ngIf="!d?.test_test">
                <i class="fa fa-bar-chart-o" style="font-size:30px;"></i>
              </div>
              {{d?.test_test | date: 'dd/MM/yyyy'}}</div>
          </div>
          <img src="assets/images/test.jpg" />
        </div>
        <div class="post-content">
          <div class="category">Avaliable</div>
          <h1 class="title">{{d?.title}}</h1>
          <div class="post-meta">
            <a routerLink='/test/{{d?.c_url}}/{{d?.s_url}}/{{d?.testurl}}'>
              <button class="btn btn-success button1">Start Test
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </button>
            </a>
            <span class="comments">
              Attempts : Unlimited
              <i class="fa fa-clipboard"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>





<!-- Notification Section Starts -->
<div class="notification-body">
  <div class="container mt-2">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Practice Tests</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>
            <span *ngFor="let notif of practiceTest">
              <a routerLink="test/practice-test/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="test/practice-test" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Admission</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of admission">
              <a routerLink="pages/admission/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/admission" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Exam Syllabus</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of examSyllabus">
              <a routerLink="pages/exam-syllabus/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/exam-syllabus" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Exam Results</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of examResults">
              <a routerLink="pages/exam-results/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/exam-results" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Top Ranker</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of topRanker">
              <a routerLink="pages/top-ranker/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/top-ranker" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Latest Jobs</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of latestJobs">
              <a routerLink="pages/latest-jobs/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/latest-jobs" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>



      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Study Resources</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of studyResources">
              <a routerLink="pages/study-resources/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/study-resources" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">News/Notifications</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of newsAndNotification">
              <a routerLink="pages/news-and-notification/{{notif.url}}">
                <li class="list-group-item">{{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/news-and-notification" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4 float-left mt-2 mb-2">
        <div class="card">

          <div class="card-body bg-primary">
            <h1 class="ad-title">Useful Websites</h1>
          </div>

          <ul class="list-group list-group-flush">
            <div style="position:absolute; width:100%; height:100%; overflow:hidden;">
              <app-loadingbar [status]="loadingbarChild"></app-loadingbar>
            </div>

            <span *ngFor="let notif of importantWebsites">
              <a routerLink="pages/important-websites/{{notif.url}}">
                <li class="list-group-item"> {{notif.title}}</li>
              </a>
            </span>
          </ul>
          <div class="card-body">
            <a routerLink="pages/important-websites" class="card-link ad-color1">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Notification Section Ends -->




<div class="ad-subscription text-center">
  <div class="row">

    <div class="col-xs-12 col-md-6 col-xl-6 col-sm-12" style="border-right:1px solid black">
      <h1 class="display1">Never Miss any deadline!</h1>
      <p class="lead">Subscribe to get Notification !! Its free.</p>
      <hr class="my-4">


      <form class="form" #subscribeForm='ngForm'>

        <div class="col-md-8 col-xl-6 col-sm-12 input-group" style="float:left;">

          <div class="input-group-addon">@</div>

          <input type="email" ngModel name="useremail" placeholder="Enter Your Email" class="form-control">
        </div>
        <div class="col-md-4 col-xl-4 col-sm-12 subscribe-button" style="float:left;">
          <p class="lead">
            <a class="btn btn-primary" (click)="newSubscribe(subscribeForm)" role="button">Subscribe Me!</a>
          </p>
        </div>
      </form>

    </div>
    <div class="col-xs-12  col-md-6 col-xl-6 col-sm-12">
      <h1 class="display1">Follow us on Social Media!</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <div>
        <a href="http://www.facebook.com/examupdate.xyz" target="blank">
          <img src="assets/images/fb.png" alt="connect on facebook">
        </a>
      </div>
    </div>
    <br/>
    <strong style="color:rgb(138, 6, 6);">
      <div *ngIf="subscribemsg">{{subscribemsg}}</div>
    </strong>
  </div>
</div>

<div class="container featured-box text-center">
  <h1 class="feature-text">
    <strong>Features</strong>
  </h1>
  <div class="row">
    <div id="infowrapper">
      <div class="col-md-4 col-xl-3">
        <div class="box effect4">
          <img src="/assets/icons/24-7.png" alt="1st image" height="200px" width="200px">
          <div class="imagetext"> Access Anytime </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="box effect4">
          <img src="/assets/icons/chat1.png" alt="1st image" height="200px" width="200px">
          <div class="imagetext"> Chat with friends </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="box effect4">
          <img src="/assets/icons/gd1.jpg" alt="1st image" height="200px" width="200px">
          <div class="imagetext"> Online Group Discussion </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="box effect4">
          <img src="/assets/icons/notif1.png" alt="1st image" height="200px" width="200px">
          <div class="imagetext"> Get Notification </div>
        </div>
      </div>

    </div>

  </div>
</div>
