<div class="register-page">




  <div class="container">
    <div class="row">

      <div class="col-md-2 col-xl-2 col-sm-12"> </div>

      <div class="col-md-8 col-xl-8 col-sm-12 register">
        <p class="ad-padding ad-title"> Registration Form For New User [
          <span>
            <a routerLink="/login"> Click here to go Back to Log in </a>
          </span> ] </p>
        <hr>

        <div class="alert alert-danger" role="alert" *ngIf="failmessage">
          {{failmessage}}
        </div>

        <form #f="ngForm" (ngSubmit)="submit(f)" class="ad-form">
          <div class="form-group">
            <label for="userName"> Full Name of Candidate
              <span *ngIf="userName.touched" class="ad-red">(Name will not change again)</span>
            </label>
            <input type="text" minlength="5" maxlength="50" ngModel name="userName" #userName="ngModel" id="userName" class="form-control"
            />
          </div>

          <div class="alert alert-warning" role="alert" *ngIf="userName.touched && !userName.valid">
            Please Input minimum {{userName?.errors.minlength?.requiredLength}} digit Name, {{ userName?.errors.minlength?.requiredLength
            - userName?.errors.minlength?.actualLength }} is more required
          </div>


          <div class="form-group">
            <label for="userEmail1"> Valid Email
              <span *ngIf="userEmail1.touched" class="ad-red">
                (Email ID will not change again and will be verified by
                <span class="ad-green">OTP</span>)</span>
            </label>
            <input type="email" required pattern="[^ @]*@[^ @]*" ngModel name="userEmail1" #userEmail1="ngModel" id="userEmail1" class="form-control"
            />
          </div>


          <div class="alert alert-danger" role="alert" *ngIf="userEmail1?.touched && !userEmail1?.valid">
            Dude! enter the valid email id.
          </div>


          <div class="form-group">
            <label for="userPassword1"> Password </label>
            <input type="password" minlength="8" maxlength="50" required ngModel name="userPassword1" #userPassword1="ngModel" id="userPassword1"
              class="form-control" />
          </div>

          <div class="alert alert-warning" role="alert" *ngIf="(userPassword1.touched && !userPassword1.valid)">
            Please Input minimum {{userPassword1.errors.minlength?.requiredLength}} digit password, {{ userPassword1.errors.minlength?.requiredLength
            - userPassword1.errors.minlength?.actualLength }} is more required
          </div>


          <div class="form-group">
            <label for="userPassword2"> Confirm Password </label>
            <input type="password" minlength="8" maxlength="50" required ngModel name="userPassword2" #userPassword2="ngModel" id="userPassword2"
              class="form-control" />
          </div>

          <div class="alert alert-secondary" role="alert" *ngIf="userPassword2.touched && userPassword2?.value!=userPassword1?.value ">
            Your Confirm Password do not Match.
          </div>


          <div class="form-group">
            <input type="submit" [disabled]="!f.valid" class="btn btn-success" />
          </div>


        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>




  <div id="snackbar">Please wait while we Validate you...</div>

</div>
